* {
  font-family: "Maple Mono NF CN";
  font-size: 12pt;
  font-weight: bold;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 12px;
  background-color: transparent;
}
@keyframes blink_red {
  to {
    background-color: #f7768e;
    color: #1a1b26;
  }
}
#workspaces button.urgent, #workspaces button.critical, #workspaces button.urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
window > box {
  background-color: #16161e;
}
#workspaces {
  padding-left: 0px;
  margin-top: 5px;
}
#workspaces button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1px;
  padding-right: 1px;
  color: #7aa2f7;
  border-radius: 10px;
}
#workspaces button.focused {
  background-color: #7aa2f7;
  color: #1a1b26;
}
#workspaces button.urgent {
  color: #1a1b26;
}
#workspaces button:hover {
  background-color: #16161e;
  color: #1a1b26;
}
tooltip {
  background: #16161e;
}
tooltip label {
  color: #d9e0ee;
}
#clock, #memory, #cpu, #pulseaudio, #network, #battery, #tray, #privacy, #custom-appearance, #custom-dnd {
  margin-left: 3px;
  margin-right: 3px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #16161e;
}
#memory {
  color: #e0af68;
}
#cpu {
  color: #7dcfff;
}
#clock {
  color: #D19D8A;
  background-color: #1E1A24;
  border-radius: 12px;
}
#pulseaudio {
  color: #41a6b5;
}
#network {
  color: #bb9af7;
}
#network.disconnected {
  color: #cbccd1;
}
#battery {
  color: #565f89;
  margin-bottom: 5px;
}
#battery.discharging {
  color: #565f89;
}
#battery.warning:not(.charging) {
  color: #f7768e;
}
#battery.critical:not(.charging) {
  color: #f7768e;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#battery.charging {
  color: #bb9af7;
}
#privacy {
  color: #f7768e;
}
#custom-appearance {
  color: #bb9af7;
}
#custom-dnd.available {
  color: #e0af68;
}
#custom-dnd.busy {
  color: #f7768e;
}
#tray {
}
