* {
  font-family: "JetBrainsMono NF";
  font-size: 12pt;
  font-weight: bold;
  transition-property: background-color;
  transition-duration: 0.5s;
}
@keyframes blink_red {
  to {
    background-color: #f7768e;
    color: #1a1b26;
  }
}
.warning, .critical, .urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
window > box {
  background-color: #16161e;
}
#workspaces {
  padding-left: 0px;
}
#workspaces button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1px;
  padding-right: 1px;
  color: #7aa2f7;
}
#workspaces button.focused {
  background-color: #7aa2f7;
  color: #1a1b26;
}
#workspaces button.urgent {
  color: #1a1b26;
}
#workspaces button:hover {
  background-color: #16161e;
  color: #1a1b26;
}
tooltip {
  background: #16161e;
}
tooltip label {
  color: rgb(217, 224, 238);
}
#custom-launcher {
  font-size: 20px;
  color: #7ebae4;
  margin-left: 8px;
  margin-right: 8px;
}
#mode, #custom-clock, #clock, #custom-date, #memory, #cpu, #temperature, #backlight, #pulseaudio, #network, #battery, #custom-powermenu {
  margin-left: 3px;
  margin-right: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #16161e;
}
#memory {
  color: #e0af68;
}
#cpu {
  color: #7dcfff;
}
#clock {
  color: #7aa2f7;
  background-color: #16161e;
}
#custom-date {
  color: #7aa2f7;
  background-color: #16161e;
}
#custom-clock {
  color: #e0af68;
}
#custom-wall {
  color: #e0af68;
}
#temperature {
  color: #e0af68;
  margin-left: 3px;
}
#backlight {
  color: #e0af68;
}
#pulseaudio {
  color: #41a6b5;
}
#network {
  color: #bb9af7;
}
#network.disconnected {
  color: #cbccd1;
}
#battery.charging, #battery.full, #battery.discharging {
  color: #bb9af7;
}
#battery.critical:not(.charging) {
  color: #f7768e;
}
#custom-powermenu {
  color: #e0af68;
  margin-right: 4px;
  padding-right: 4px;
}
#custom-spotify-position {
  color: #f7768e;
  margin-right: 4px;
  padding-right: 4px;
}
#custom-appearance {
  color: #bb9af7;
  margin-right: 4px;
  padding-right: 4px;
}
#custom-power-profile.perf {
  color: #f7768e;
  margin-right: 4px;
  padding-right: 4px;
}
#custom-power-profile.balanced {
  color: #e0af68;
  margin-right: 4px;
  padding-right: 4px;
}
#custom-power-profile.save {
  color: #41a6b5;
  margin-right: 4px;
  padding-right: 4px;
}
#custom-dnd.available {
  color: #e0af68;
  margin-right: 4px;
  padding-right: 4px;
}
#custom-dnd.busy {
  color: #f7768e;
  margin-right: 4px;
  padding-right: 4px;
}
#tray {
  margin-left: 5px;
  margin-right: 5px;
}
