@define-color bg #16161E;
@define-color urgent #F7768E;
@define-color workspace #7AA2F7;
@define-color workspace-hover #BCD0FB;
@define-color clock-text #D19D8A;
@define-color clock-bg #1E1A24;
@define-color pulseaudio #41A6B5;
@define-color battery #565F89;
@define-color battery-charging #BB9AF7;
@define-color appearance #BB9AF7;
@define-color dnd #E0AF68;
@define-color text #D9E0EE;

* {
  font-family: "Maple Mono NF CN";
  font-size: 12pt;
  font-weight: bold;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 12px;
  background-color: transparent;
}
@keyframes blink_red {
  to {
    background-color: @urgent;
    color: @bg;
  }
}
#workspaces button.urgent, #workspaces button.critical, #workspaces button.urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
window > box {
  background-color: @bg;
}
#workspaces {
  padding-left: 0px;
  margin-top: 5px;
}
#workspaces button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1px;
  padding-right: 1px;
  color: @workspace;
  border-radius: 10px;
}
#workspaces button.focused {
  background-color: @workspace;
  color: @bg;
}
#workspaces button.urgent {
  color: @bg;
}
#workspaces button:hover {
  background: @workspace-hover;
  color: @bg;
}
tooltip {
  background: @bg;
}
tooltip label {
  color: @text;
}
#clock, #pulseaudio, #network, #battery, #tray, #custom-appearance, #custom-dnd {
  margin-left: 3px;
  margin-right: 3px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: @bg;
}
#clock {
  color: @clock-text;
  background-color: @clock-bg;
  border-radius: 12px;
}
#pulseaudio {
  color: @pulseaudio;
}
#battery {
  color: @battery;
  margin-bottom: 5px;
}
#battery.discharging {
  color: @battery;
}
#battery.warning:not(.charging) {
  color: @urgent;
}
#battery.critical:not(.charging) {
  color: @urgent;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#battery.charging {
  color: @battery-charging;
}
#custom-appearance {
  color: @appearance;
}
#custom-dnd.available {
  color: @dnd;
}
#custom-dnd.busy {
  color: @urgent;
}
#tray {
}
